<div class="container">
    <!--Form for adding burger-->
    <div class="jumbotron">

        <form class="create-form" method="POST" action="/">

            <div class="form-group">
                <label for="burgname">Burger Name:</label>
                <input type="text" id="burgname" name="burger_name">

                <button type="submit" class="btn btn-success"><span class="far fa-lips">Add Burger</span></button>
            </div>
        </form>

        <!--List of Prepped Burgers-->
        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-header"><strong>Burger Order Pick-Up</strong></div>
                    <div class="card-body">
                        <li>
                            {{#each burgers}}
                            {{#unless devoured}}
                            <span> {{this.id}} : {{this.burger_name}} </span>

                            <form class="create-form" method="POST" action="/{{this.id}}?_method=PUT">
                               <input type="hidden" id="burgname" name="devoured" value="true">

                                <button type="submit" class="btn btn-success">Om nom nom nom!</button> 
                            </form>
                            {{/unless}}
                            {{/each}}

                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


